{% extends 'dashboard/base.html' %}

{% block title %}Detalle del Reporte{% endblock %}

{% block content %}

<h1>Detalle del Reporte</h1>

<div class="detalle-reporte">

    <div class="detalle-item">
        <strong>ID:</strong>
        <p>{{ reporte.id }}</p>
    </div>

    <div class="detalle-item">
        <strong>Usuario:</strong>
        <p>{{ reporte.owner.username }}</p>
    </div>

    <div class="detalle-item">
        <strong>Tipo de incidente:</strong>
        <p>{{ reporte.tipo_incidente }}</p>
    </div>

    <div class="detalle-item">
        <strong>Descripción:</strong>
        <p>{{ reporte.descripcion }}</p>
    </div>

    <div class="detalle-item">
        <strong>Dirección:</strong>
        <p>{{ reporte.direccion_manual }}</p>
    </div>

    <div class="detalle-item">
        <strong>Latitud:</strong>
        <p>{{ reporte.latitud }}</p>
    </div>

    <div class="detalle-item">
        <strong>Longitud:</strong>
        <p>{{ reporte.longitud }}</p>
    </div>

    <div class="detalle-item">
        <strong>Estado:</strong>
        <p>{{ reporte.estatus }}</p>
    </div>

    <div class="detalle-item">
        <strong>Fecha:</strong>
        <p>{{ reporte.fecha_creacion }}</p>
    </div>

    <div class="detalle-item">
        <strong>Fotografía:</strong>

        {% if reporte.foto %}
            <img src="{{ reporte.foto.url }}" alt="Reporte">
        {% else %}
            <p>No hay fotografía.</p>
        {% endif %}

    </div>

</div>

{% endblock %}